<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>

</head>
<body>

<!-- 导航栏 -->
    <div th:fragment="navbar">
        <div class="navbar">
            <div class="logo">Health Management System</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/exercises">Exercise Record</a></li>
                <li><a href="/food">Food Record</a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
