<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create or Update Exercise/Food</title>
</head>

<body>
<h2>New Exercise Record</h2>

<form th:action="@{${#strings.isEmpty(exercise.id) ? '/exercises/new' : '/exercises' + exercise.id + '/edit'}}"
      th:object="${exercise}"
      method="post">
    <div>
        <!-- 日期 -->
        Date: <input type="date" th:field="*{date}" /><br>

        <!-- 消耗卡路里 -->
        Active Calories: <input type="number" th:field="*{calories}" /><br>

        <!-- 运动类型选择 -->
        Exercise Type:
        <select th:field="*{type}">
            <option th:each="t : ${types}"
                    th:value="${t.id}"
                    th:text="${t.name}">
            </option>
        </select><br>
    </div>
</form>
</body>
</html>