<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/healthmanage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>

<div th:replace="fragments/navigationBar :: navbar"></div>

<section>
    <div class="container">
        <h2>Yesterday Summary</h2>
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center">    <!--display flex-->
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Exercise Burned: <span th:text="${burned}">0</span>kcal</li>
                        <li class="list-group-item">Food Intake: <span th:text="${intake}">0</span>kcal</li>
                        <li class="list-group-item">BMR: <span th:text="${bmr}">0</span>kcal</li>
                        <li class="list-group-item">Calorie Balance:
                            <span th:text="${diff}">0</span>kcal
                            (<span th:style="${diff > 0 ? 'color:red;' : 'color:green;'}" th:text="${diff > 0 ? 'Surplus' : 'Deficit'}"></span>)
                        </li>
                    </ul>
                </div>
                <div style="width: 300px; height: 300px; position: relative; top: 72px; left: 50px;">
                    <canvas id="yesterdayChart"></canvas>
                    <div class="chart-center-text">
                        <span th:text="${diff}">0</span>
                        <small>kcal</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    chart.jsでドーナツチャートを作成   -->
<script th:inline="javascript">
    /*<![CDATA[*/
    // Controllerから渡された値をJavaScript変数に格納
    const intake = /*[[${intake}]]*/ 0;
    const exerciseBurned = /*[[${burned}]]*/ 0;
    const bmr = /*[[${bmr}]]*/ 0;
    // console.log("Chart Data:", intake, exerciseBurned, bmr);

    const yesterdayCtx = document.getElementById('yesterdayChart').getContext('2d');
    new Chart(yesterdayCtx, {
        type: "doughnut",
        data: {
            labels: ['Intake', 'Exercise', 'BMR'],
            datasets: [{
                label: 'Calories(kcal)',
                data: [intake, exerciseBurned, bmr],
                backgroundColor: [
                    '#ff4136', // Intake: #danger
                    '#198754', // Exercise: #success
                    '#3498db'  // BMR 蓝
                ]
            }]
        },

        // options: {
        //     title: {
        //         display: true,
        //         text: "World Wide Wine Production"
        //     }
        // }
    });
</script>

<section>
    <div class="container">
        <h2>Past 7 Days</h2>
        <div style="width: 100%; height: 300px;">
            <canvas id="past7DayChart"></canvas>
        </div>
    </div>
</section>

<script th:inline="javascript">
    const intakeData = /*[[${intakeData}]]*/ [];
    const dateLabels = /*[[${dateLabels}]]*/ [];
    const burnedData = /*[[${burnedData}]]*/ [];
    const diffData = /*[[${diffData}]]*/ [];
    const goalAchievedData = /*[[${goalAchievedData}]]*/ [];

    const negativeBurnedData = burnedData.map(value => -value);
    // const pointStyles = goalAchievedData.map(achieved => achieved ? 'rect' : 'crossRot'); // 達成ならマル, 未達成ならバツ

    console.log("サーバから渡された日付ラベル:", dateLabels);
    console.log("サーバから渡された摂取カロリーデータ:", intakeData);

    const trendCtx = document.getElementById("past7DayChart").getContext("2d");
    new Chart(trendCtx, {
        type: 'line',
        data: {
            labels: dateLabels,
            datasets: [
                {
                    label: 'Intake',
                    data: intakeData,
                    fill: false,
                    borderColor: '#ff4136',    // Intake: #danger
                    pointStyle: 'rect',
                    tension: 0.1
                },
                {
                    label: 'Burned (Exercise + BMR)',
                    data: negativeBurnedData,
                    fill: false,
                    pointStyle: 'rect',
                    borderColor: '#198754', // #success
                    tension: 0.1,
                },
                {
                    label: 'Calorie Balance',
                    data: diffData,
                    showLine: false,
                    fill: false,
                    pointBackgroundColor: '#ffc107',
                    borderColor: '#ffc107', // #warning
                    pointRadius: 6,
                    pointStyle: 'rectRot'
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                // Y軸設定
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Calories (kcal)'
                    }
                },
                // X軸設定
                x: {
                    title: {
                        display: true,
                        text: 'Date'
                    }
                }
            }
        }
    })
</script>


<section>
    <div class="container">
        <h2>Recent Records</h2>
        <div class="row d-flex gap-4 mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="height: 45px">
                        Recent Exercise Records
                    </div>
                    <div>
                        <div th:if="${#lists.isEmpty(recentExerciseRecords)}">
                            <p>NO RECENT EXERCISE RECORDS</p>
                        </div>
                        <ul class="list-group list-group-flush" th:unless="${#lists.isEmpty(recentExerciseRecords)}">
                            <li class="list-group-item" th:each="exercise : ${recentExerciseRecords}">
                                <span th:text="${#temporals.format(exercise.date, 'MM/dd HH:mm')}"></span>
                                <span th:text="${exercise.exerciseType.exerciseTypeName}"></span>
                                -<span th:text="${exercise.kilocalories}"></span>kcal
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{exercises/new}" class="btn btn-success">Add Exercise Records</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header" style="height: 45px">
                        Recent Food Records
                    </div>
                    <div>
                        <div th:if="${#lists.isEmpty(recentFoodRecords)}">
                            <p>NO RECENT FOOD RECORDS</p>
                        </div>
                        <ul class="list-group list-group-flush" th:unless="${#lists.isEmpty(recentFoodRecords)}">
                            <li class="list-group-item" th:each="food : ${recentFoodRecords}">
                                <span th:text="${#temporals.format(food.date, 'MM/dd HH:mm')}"></span>
                                <span th:text="${food.foodType.foodName}"></span>
                                -<span th:text="${food.kilocalories}"></span>kcal
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{foods/new}" class="btn btn-danger">Add Food Records</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>



</html>